<meta charset="utf-8" />
<title>{{ (title) ? title : '' }} | °SAUNEO</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="" name="description" />
<meta content="" name="author" />

<base href="{{ BASE }}">

<!-- App favicon -->
<link rel="shortcut icon" href="assets/admin/images/favicon.ico">